@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/yellow";

body,
.app {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}
