@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/yellow";

body,
.app {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
