:root {
  --font-family-main: avenir, montserrat, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
