:root {
  --font-family-main: Avenir, Montserrat, sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
}
