:root {
  --font-family-main: menlo, avenir, sans-serif;

  // Size S
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-line-s) / var(--font-line-s) var(--font-family-main);

  // Size M
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);

  // Size L
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);

  // Size XL
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);

  // Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Z-indexes
  --z-index-modal-negative: -1;
  --z-index-modal: 10;
  --z-index-popup: 100;

  // colors
  --color-black: black;
  --color-white: white;
  --color-bg-overlay: rgba(0 0 0 / 60%);
}
