.textWrapper {
  color: var(--primary-color);
}

.primary {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--error-light-color);
  }

  .text {
    color: var(--error-dark-color);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size_m {
  .title {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  .text {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }
}

.size_l {
  .title {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
  }

  .text {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}
