.articleDetails {
  min-height: 100%;
}

.articleInfo {
  svg {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }
}

.avatar {
  margin: 0 auto;
}

.img {
  width: 100%;
  max-height: 420px;
}