.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--z-index-modal);

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  z-index: var(--z-index-modal);
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  touch-action: none;
  padding: 15px;
}

.drawerOld {
  .sheet {
    background-color: var(--bg-color);
  }
}

.drawerNew {
  .sheet {
    background-color: var(--light-bg-redesigned);
  }
}
