.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  flex-shrink: 0;

  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .langSwitcher {
    margin-left: 10px;
  }

  .collapseBtn {
    position: absolute;
    right: calc(var(--font-line-l) * -1);
    bottom: calc(var(--font-line-l));
  }

  .items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  &.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
      flex-direction: column;
    }

    .langSwitcher {
      margin-left: 0;
    }
  }
}

.sidebarRedesigned {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  position: relative;

  .appLogo {
    padding-top: 20px;
  }

  .items {
    margin-top: 40px;
  }

  .collapseBtn {
    position: absolute;
    right: 0;
    top: 50%;
    color: var(--icon-redesigned);
    transform: translateY(-50%) rotate(180deg);
    width: 32px;
    height: 250px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .langSwitcher {
    margin-left: 10px;
  }

  &.collapsed {
    width: 50px;

    .switchers {
      flex-direction: column;
    }

    .langSwitcher {
      margin-left: 0;
    }

    .items {
      margin-top: 60px;
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .collapseBtn {
      transform: translateY(-50%) rotate(0);
    }
  }
}
