.articleViewSelector {
  svg {
    width: 24px;
    height: 24px;
    color: var(--secondary-color);
  }

  .selected {
    svg {
      color: var(--primary-color);
    }
  }
}

.articleViewSelectorRedesign {
  /* stylelint-disable-next-line no-descending-specificity */
  svg {
    color: var(--light-bg-redesigned);
  }

  .selected {
    svg {
      color: var(--icon-redesigned);
    }
  }

  .button {
    display: flex;
  }
}
