.Overlay {
  background: var(--color-bg-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-modal-negative);
  cursor: pointer;
}
