.articleList {
  display: flex;
  gap: 30px;
}

.list {
  flex-flow: column nowrap;
}

.table {
  flex-flow: row wrap;

  .card {
    display: inline-flex;
    flex-wrap: wrap;
    height: 300px;
  }

  .row {
    display: flex;
    gap: 30px;
  }
}
