.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  flex-direction: column;
  display: flex;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
