.popup {
  position: relative;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  right: 0;
  bottom: 100%;
}

.disabled {
  opacity: 0.7;
}
