.popup {
  position: relative;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--light-bg-redesigned);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  right: 0;
  bottom: 100%;
}

.disabled {
  opacity: 0.7;
}
