.selectWrapper {
  display: flex;
  align-items: baseline;
}

.readOnly {
  opacity: 0.7;
}

.placeholder {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}
