.app-theme-dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0232c2;
  --error-light-color: #f00;
  --error-dark-color: #c91414;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;
}
