.app-theme-light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --error-light-color: #f00;
  --error-dark-color: #ce0505;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #0d0d6b;
}
