.app-theme-light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0449e0;
  --secondary-color: #0232c2;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
  --error-light-color: #f00;
  --error-dark-color: #c91414;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
