.app-theme-yellow {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
  --error-light-color: #f00;
  --error-dark-color: #ce0505;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #0d0d6b;
}
