.app-theme-yellow {
  --bg-color: #fbf9f4;
  --inverted-bg-color: #dabf52;
  --primary-color: #dbba36;
  --secondary-color: #c0a023;
  --inverted-primary-color: #fcf6e6;
  --inverted-secondary-color: #f7e4ba;
  --error-light-color: #f00;
  --error-dark-color: #c91414;
}
