.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbarRedesigned {
  padding: 16px;
}

.button {
  margin-left: auto;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.actions {
  margin-left: auto;
}
