.button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 15px;
  transition: color 0.2s;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: var(--bg-color);
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 34px;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font-size: var(--font-size-m);
}

.l {
  font-size: var(--font-size-l);
}

.xl {
  font-size: var(--font-size-xl);
}

.fullWidth {
  width: 100%;
}
