.card {
  padding: 24px;
}

.normal {
  background: var(--dark-bg-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}

.max {
  width: 100%;
}

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}

.borderNormal {
  border-radius: 12px;
}

.borderRounded {
  border-radius: 40px;
}
