.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.editable {
  border: 2px solid var(--inverted-primary-color);
}
