.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: var(--z-index-popup);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  overflow: hidden;
}

.item {
  padding: 10px 20px;
}

.label {
  color: var(--primary-color);
}
