.articlesPageFilter {
  .sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search {
    margin-top: 16px;
  }

  .tabs {
    margin-top: 16px;
  }
}

.articlesPageFilterRedesign {
  width: 264px;
}

.searchIcon {
  color: var(--icon-redesigned);
}
